.box {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  background-color: hsl(217, 19%, 24%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 1px 1px 1px #02020248;
  padding: 4rem 4rem 0 4rem;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .box {
    min-width: 90%;
    padding: 2rem 2rem 0 2rem;
  }
}
