.btn {
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 25px;
  padding: 1.2rem 2.2rem;
  text-decoration: none;
  font-size: 1.8rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s;
}

.btn:hover {
  color: #fff;
  background-color: rgb(94, 243, 243);
}
